/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");
/* COULDNT FIND ARIAL ROUND for free */

/* VARIABLES */
/* Colours Custom CSS */
:root {
  /* Font */
  --mainFont: "Nunito", Arial, Helvetica;
  --mainFontWeight: "400";
  /* Colours */
  --colour-bg-red: #d9564f;
  --colour-white: #ffffff;
  --colour-header-colour: #531d20;
  --colour-font-colour: #785e60;
  --colour-mode-selected: #bd5853;
  --colour-task-add: #c34c47;
  --colour-header-underline: #f99f9a;
  --colour-font-footer: #785e60;
  --colour-subfont-footer: #a19192;
  --colour-gray: #ececec;
  --colour-top-underline: #c54a45;
  --colour-header-link: #e1716d;

  /* Padding & Margins */
}
/* General CSS Styling*/
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--mainFont);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  font-family: var(--mainFont);
  color: var(--colour-white);
  font-size: 6.5rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mainFont);
  color: var(--colour-header-colour);
}
/* Basic font implementation will be changed */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--mainFont);
  color: var(--colour-font-colour);
  background-color: var(--colour-white);
}
a {
  text-decoration: none;
}

/* HEADER STYLING */
header {
  background-color: var(--colour-bg-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid var(--colour-top-underline);
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header li {
  list-style: none;
  background-color: var(--colour-header-link);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

header a {
  color: var(--colour-white);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo svg {
  width: 18px;
  height: 18px;
}

/* TIMER FUNCTION SECTION */

#mainTimerFunction {
  background-color: var(--colour-bg-red);
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#mainTimerFunction > * {
  max-width: 555px;
  margin: auto;
}

#timer {
  background-color: var(--colour-header-link);
  border-radius: 5px;
  padding: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 555px;
}
#modeSelectors {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  font-size: 1.15rem;
  color: var(--colour-white);
  border: none;
  border-radius: 4px;
  background-color: inherit;
  padding: 0.1rem 0.8rem;
}

#modeSelectors button:nth-of-type(1) {
  background-color: var(--colour-mode-selected);
  font-weight: bold;
}
#modeSelectors button:hover {
  background-color: var(--colour-header-underline);
}

#startBtn {
  background-color: var(--colour-white);
  color: var(--colour-bg-red);
  font-weight: 800;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  border-bottom: 7px solid var(--colour-gray);
}
/* WOULD HAVE LIKED TO CHANGE THIS TO A ANIMATION WITH BUTTON BEING PRESSED */
#startBtn:hover {
  border-bottom: 0 solid var(--colour-gray);
  padding-bottom: 23px;
  background-color: var(--colour-gray);
}

#pomoQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}
#pomoQ > p:nth-of-type(1) {
  color: var(--colour-gray);
  opacity: 0.8;
}
#pomoQ > p:nth-of-type(2) {
  color: var(--colour-white);
}

/* TASKS */
#tasks {
  width: 555px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#tasks > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--colour-white);
  align-items: center;
  padding: 0;
}
#tasks h3 {
  font-size: 1.4;
  color: var(--colour-white);
}
.toggle {
  background-color: var(--colour-header-link);
  aspect-ratio: 1/1;
  padding: 0.1rem 0.2rem;
  margin-bottom: 1rem;
}
.toggle > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.taskItem {
  background-color: var(--colour-white);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-weight: 700;
}
.taskItem > div {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.taskItem > div > .toggle {
  background-color: var(--colour-white);
  color: var(--colour-subfont-footer);
  border: 1px solid var(--colour-subfont-footer);
}
.taskCompleted {
  color: var(--colour-subfont-footer);
}

.taskCompleted > div > svg {
  color: var(--colour-bg-red);
}

.taskCompleted #strike {
  text-decoration: line-through;
}

#newTask {
  border: dashed 2px rgba(255, 255, 255, 0.3);
  background-color: var(--colour-top-underline);
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* ARTICLE */
article {
  max-width: 555px;
  margin: auto;
  margin-top: 2rem;
}

article section {
  margin-bottom: 4rem;
}

article p {
  font-size: 1.15rem;
}

article h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

article h3 {
  font-size: 1.5rem;
}
article h3:after {
  display: block;
  height: 4px;
  width: 1.3rem;
  content: " ";
  background-color: var(--colour-header-underline);
  margin: 0.3rem 0 1rem 0;
}

article a {
  color: var(--colour-bg-red);
  font-weight: bold;
}

article li {
  font-size: 1.15rem;
  margin: 0.8rem 0;
}

/* FOOTER STYLING */
footer {
  display: flex;
  background-color: var(--colour-white);
  border-top: 2px solid var(--colour-gray);
  padding: 1.5rem;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: var(--colour-font-footer);
  gap: 0.8rem;
}

footer a {
  color: #785e60;
  font-weight: bold;
}

#siteMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

footer li {
  list-style-type: none;
}

#dev {
  color: var(--colour-bg-red);
  font-weight: bold;
}
#socialLinks {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#socialLinks svg {
  width: 35px;
  height: 35px;
  color: var(--colour-subfont-footer);
}

#copy {
  color: var(--colour-subfont-footer);
  font-size: 0.8rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 630px) {
  /* to hide navigation text */
  header a span {
    display: none;
  }

  article {
    width: 90%;
  }

  #timer {
    width: 90%;
  }
  #tasks {
    width: 90%;
  }
}
